section#resume
  article.profile
    h2 Profile
    p I am a front-end developer &amp; designer with over 8 years of experience. I specialise in modern responsive HTML, CSS &amp; Javascript builds, with a focus on usability and accessibility.  I have experience of libraries and frameworks including jQuery, Knockout.js, Angular.js and LESS. I have a formal background in design and create wireframes and design mockups using Photoshop &amp; Illustrator. I am comfortable with backend work in C# ASP.NET; this helps me integrate easily into team-based development where tasks and skills are distributed.  I am hardworking, enthusiastic and show a good deal of attention to detail and possess excellent time keeping and project management skills. I strive to learn new skills and further develop the skills I have in order to stay ahead of web &amp; IT technologies and feel I would be a worthy member of any team.
    p
      a(href='https://www.dropbox.com/s/cqdn5c4dja9htj1/LeeEllam2015.doc?dl=0', title='Download CV') Download my CV

  article.skills
    h2 Technical skills
    ul
      li
        dl
          dt Front-end:
          dd HTML 5, CSS 3, LESS framework.
      li
        dl
          dt Javascript:
          dd Clientside Javascript and extensive use of jQuery, Angular.js, Knockout.js. Jasmine &amp; Mocha testing frameworks, Node.js, Grunt, Gulp.
      li
        dl
          dt Back-end:
          dd C# ASP.NET (MVC &amp; Webforms); Wordpress; Node.js &amp; Express.
      li
        dl
          dt E-commerce and content management:
          dd including bespoke systems, Wordpress, Joomla, Orchard CMS and Percussion CMS.
      li
        dl
          dt Development processes:
          dd TFS &amp; Git versioning, continuous integration, Heroku deployment, Agile/sprint-based development with daily standups, story-based specs, planning poker, etc.
      li
        dl
          dt Design:
          dd Graphic and Web design, information architecture, wireframing &amp; prototyping.
      li
        dl
          dt Software &amp; operating systems:
          dd Abobe Photoshop, Illustrator, Git, Microsoft TFS, Visual Studio, Sublime Text, Terminal, Windows, Mac OS X.

  article.experience
    h2 Experience

    .job#justgiving
      h3 JustGiving
      .date Jan 2015 - Present
      h4 Senior front end developer
      dl.company-resposibilities-skills
        dt Company:
        dd JustGiving are the world's leading online fundraising platform, creating innovative technology that helps people, charities and businesses connect with the causes they care about.
        dt Role:
        dd Develop features for the JustGiving.com website, primarily on responsive charity campaigns product; develop prototypes and wireframes; implement accessible, cross-browser and standards compliant code.  Working in an agile scrum team of C# ASP.NET developers and working closely with UX, design and product owners.
        dt Skills:
        dd HMTL5, CSS 3, LESS, Javascript (including Angular.js, Karma, Jasmine, Gulp), C# ASP.NET MVC, Agile, Microsoft Visual Studio 2012, Git; Windows 8
    
    .job#reed
      h3 Reed.co.uk
      .date Apr 2013 - Jan 2015
      h4 Front end developer
      dl.company-resposibilities-skills
        dt Company:
        dd Reed.co.uk is the UK’s #1 job site.  Offering job vacancies, courses and career advice, reed.co.uk attracts more than 4 million jobseekers each month, with vacancies from over 8,000 recruiters, employers and agencies, and over 80,000 applications per day.
        dt Role:
        dd Develop features for the reed.co.uk website, primarily on the jobseeker site and mobile site; develop prototypes and wireframes; implement accessible, cross-browser and standards compliant code.  Working in an agile scrum team of C# ASP.NET developers and working closely with designers and business owners to ensure functionality delivered meets and exceeds expectations. Winner of 2 company hack days.
        dt Skills:
        dd HMTL5, CSS, Javascript (including jQuery, Knockout.js), ASP.NET MVC Razor Templating, LESS, Agile, Microsoft Visual Studio 2012, Git; Adobe Photoshop, Illustrator; Windows 7

    .job#promethean
      h3 Promethean
      .date Nov 2010 - Present
      h4 Front end developer
      dl.company-resposibilities-skills
        dt Company:
        dd Promethean are a world leading interactive learning technology company, with offices in the USA and UK, creating highly effective hardware and software products.
        dt Role:
        dd Create and develop effective, usable designs to satisfy both business &amp; end user needs; to implement accessible, semantic markup and progressively enhance the user experience; develop for the internal CMS systems including Orchard CMS and Percussion CMS.  Working as sole front-end developer in a large agile team of C# ASP.NET developers and working closely with designers in the US.
        dt Skills:
        dd XHTML, HTML5, CSS, Javascript (including jQuery), ASP.NET MVC 3 Razor Templating, Velocity Templating, LESS, Agile, Web Design, Microsoft Visual Studio 2010, TFS; Percussion CM System, Orchard CMS; Adobe Photoshop, Illustrator; Windows 7

    .job#transcon
      h3 Trans-Continental
      .date Sep 2009 - Nov 2010
      h4 Web designer &amp; front end developer
      dl.company-resposibilities-skills
        dt Company:
        dd Trans-Continental is a leading global supplier of Christmas products, garden furniture and indoor furniture.
        dt Role:
        dd Design, develop &amp; maintain the company and white label e-commerce sites; create and deliver regular HTML email campaigns and promotional marketing pages; work with and produce assets for affiliates and internal and external marketing companies; graphic design and photography.
        dt Skills:
        dd XHTML, CSS, jQuery; Web Design, Photography, Graphic Design; Adobe Photoshop, Illustrator, Flash; Quark Xpress; Mac OS X
      
    .job#rawfusion-web
      h3 Rawfusion Ltd
      .date Jun 2006 - Apr 2009
      h4 Web designer, Graphic designer &amp; photographer
      dl.company-resposibilities-skills
        dt Company:
        dd Rawfusion are a fashion accessories company, producing apparel and accessories for companies such as Pacha, Playboy, Chupa Chups and Marvel.
        dt Role:
        dd Design, develop and maintain the company, white label e-commerce and brand websites; design promotional pages for other retailers, including Republic &amp; Play.com; online &amp; offline marketing campaigns, including HMTL email campaigns; social marketing including Youtube, Myspace &amp; Facebook; Lifestyle &amp; product photography. Graphic design for print; Product &amp; point of sale design; liaising with suppliers and managing projects from start to finish.
        dt Skills:
        dd XHTML, CSS(1&2), Flash Actionscript 2.0, Wordpress Development; Product Photography and Post Production; Adobe Photoshop, Illustrator, Flash, Dreamweaver, Bridge; Apple Final Cut; Mac OS X.