section#resume
  article.profile
    h2 Profile
    p I am a front-end developer &amp; designer with over 6 years of experience. I specialise in modern HTML, CSS &amp; Javascript builds, with a focus on usability and accessibility.  I have experience of libraries and frameworks including jQuery and LESS. I have a formal background in design and create wireframes and design mockups using Photoshop &amp; Illustrator. I am comfortable with light backend work including PHP, Ruby &amp; C# ASP.NET (MVC &amp; Webforms); this helps me integrate easily into team-based development where tasks and skills are distributed.  I am hardworking, enthusiastic and show a good deal of attention to detail and possess excellent time keeping and project management skills. I strive to learn new skills and further develop the skills I have in order to stay ahead of web &amp; IT technologies and feel I would be a worthy member of any team.</p>
    p
      a(href='http://www.lee-ellam.com/cv.zip', title='Download CV') Download my CV

  article.skills
    h2 Technical skills
    ul
      li
        dl
          dt Front-end:
          dd XHTML, HTML5, CSS3, LESS framework
      li
        dl
          dt Javascript:
          dd Clientside Javascript and extensive use of jQuery and Knockout.js, along with usage of Backbone.js, JSON, AJAX
      li
        dl
          dt Back-end:
          dd Exposure to PHP, C# ASP.NET (MVC 3 &amp; Webforms), Ruby (with Sinatra library); Wordpress, Orchard CMS, Percussion CMS & Velocity templating
      li
        dl
          dt E-commerce and content management:
          dd including bespoke systems, Wordpress, Joomla, Orchard CMS and Percussion CMS
      li
        dl
          dt Development processes:
          dd TFS &amp; Git versioning, continuous integration, Heroku deployment, Agile/sprint-based development with daily standups, story-based specs, planning poker, etc
      li
        dl
          dt Design:
          dd Graphic and Web design, information architecture, wireframing & prototyping
      li
        dl
          dt Software &amp; operating systems:
          dd Abobe Photoshop, Illustrator, Flash, Microsoft TFS, Visual Studio, SQL Server, Sublime Text, Microsoft Office, Windows, Mac OS X

  article.experience
    h2 Experience
    .job#promethean
      h3 Promethean
      .date Nov 2010 - Present
      h4 Front end developer
      dl.company-resposibilities-skills
        dt Company:
        dd Promethean are a world leading interactive learning technology company, with offices in the USA and UK, creating highly effective hardware and software products.
        dt Role:
        dd Create and develop effective, usable designs to satisfy both business &amp; end user needs; to implement accessible, semantic markup and progressively enhance the user experience; develop for the internal CMS systems including Orchard CMS and Percussion CMS.  Working as sole front-end developer in a large agile team of C# ASP.NET developers and working closely with designers in the US.
        dt Skills:
        dd XHTML, HTML5, CSS (2&amp;3), Javascript (including jQuery), ASP.NET MVC 3 Razor Templating, Velocity Templating, LESS, Agile, Web Design, Microsoft Visual Studio 2010, TFS; Percussion CM System, Orchard CMS; Adobe Photoshop, Illustrator; Windows 7

    .job#transcon
      h3 Trans-Continental
      .date Sep 2009 - Nov 2010
      h4 Web designer &amp; front end developer
      dl.company-resposibilities-skills
        dt Company:
        dd Trans-Continental is a leading global supplier of Christmas products, garden furniture and indoor furniture.
        dt Role:
        dd Design, develop &amp; maintain the company and white label e-commerce sites; create and deliver regular HTML email campaigns and promotional marketing pages; work with and produce assets for affiliates and internal and external marketing companies; graphic design and photography.
        dt Skills:
        dd XHTML, CSS(2&amp;3), jQuery; Web Design, Photography, Graphic Design; Adobe Photoshop, Illustrator, Flash; Quark Xpress; Mac OS X
      
    .job#rawfusion-web
      h3 Rawfusion Ltd
      .date Aug 2007 - Apr 2009
      h4 Web designer &amp; photographer
      dl.company-resposibilities-skills
        dt Company:
        dd Rawfusion are a fashion accessories company, producing apparel and accessories for companies such as Pacha, Playboy, Chupa Chups and Marvel.
        dt Role:
        dd Design, develop and maintain the company, white label e-commerce and brand websites; design promotional pages for other retailers, including Republic &amp; Play.com; online &amp; offline marketing campaigns, including HMTL email campaigns; social marketing including Youtube, Myspace &amp; Facebook; Lifestyle &amp; product photography.
        dt Skills:
        dd XHTML, CSS(1&amp;2), Flash Actionscript 2.0, Wordpress Development; Product Photography and Post Production; Adobe Photoshop, Illustrator, Flash, Dreamweaver, Bridge; Apple Final Cut; Mac OS X

    .job#rawfusion-print
      h3 Rawfusion Ltd
      .date Jun 2006 - Aug 2007
      h4 Graphic designer
      dl.company-resposibilities-skills
        dt Role:
        dd Graphic design for print; Product &amp; point of sale design; liaising with suppliers and managing projects from start to finish.
        dt Skills:
        dd Graphic Design, Point of Sale Design; Adobe Photoshop, Illustrator, Bridge; CorelDraw; Windows XP