p Here are a few things I've done, more to follow.

section.projects
  article.project
    header
      h1 
        a(href='http://leesus.github.io/BaseViewModel', title='BaseViewModel - Backbone style extends for Knockout') BaseViewModel
    div.content
      :markdown
        Backbone style extends for Knockout. Automatically convert model properties to observables and allow sub-classing of viewmodels.

        Available on [GitHub](http://github.com/leesus/baseviewmodel), [npm](npmjs.org/package/baseviewmodel) and bower.
      dl
        dt Technologies:
        dd Javascript, UMD, requirejs, commonjs, Knockout

  article.project
    header
      h1
        a(href='http://leesus.github.io/webaudio-mario', title='WebAudio API Mario Theme Tune') WebAudio API Mario Theme Tune
    div.content
      figure
        a(href='http://leesus.github.io/webaudio-mario', title='WebAudio API Mario Theme Tune')
          img(src='mario.png', alt='WebAudio API Mario Theme Tune')

      :markdown
        Mario theme tune created using HTML5 WebAudio API, no music files used (Chrome only).

        [Hum along](http://leesus.github.io/webaudio-mario).
      dl
        dt Technologies:
        dd Javascript, HTML5, WebAudio

  article.project
    header
      h1
        a(href='http://predatoripsum.herokuapp.com', title='Predator Ipsum') Predator Ipsum
    div.content
      figure
        a(href='http://predatoripsum.herokuapp.com', title='Predator Ipsum')
          img(src='predator.png', alt='Predator Ipsum')

      :markdown
        Predator themed lorem ipsum generator, uses quotes from Predator. Can be made safe for work.

        [Check it out. Do it now!](http://predatoripsum.herokuapp.com).
      dl
        dt Technologies:
        dd Ruby, Sinatra
    
